In [2]:
#import commands
import pandas as pd
import numpy as np
from pathlib import Path

In [12]:
# Import CSV files
DMV_Merge = Path("DMV_Merge.csv")

In [13]:
# Read the files and store the data
DMV_Merge_data = pd.read_csv(DMV_Merge)

In [14]:
# Print Data table
DMV_Merge_data.head()

,ID,Station Name,Access,Owner,Last_Used,Open_Date,DC_Fast,Level1_Charging,Level2_Charging,Address,City,State,Zipcode,Latitude,Longitude,Pricing,Connection_Type
0,0,One Parking,public,PAY_GARAGE,2023-08-10,2012-03-01,0,0,13,555 12th St NW,Washington,DC,20004,38.896703,-77.027621,Free,J1772
1,1,Florida Power & Light - Washington DC Office,private,UTILITY,2024-01-09,2012-01-01,0,0,1,801 Pennsylvania Ave NW,Washington,DC,20004,38.894354,-77.023723,NaN,J1772
2,2,JBG SMITH 1666K,public,NaN,2024-10-08,2016-06-17,0,0,2,1666 K St NW,Washington,DC,20006,38.902162,-77.038098,NaN,J1772
3,3,INTERPARK PENN QTR1,public,NaN,2024-10-08,2019-12-25,0,0,2,616 E St NW,Washington,DC,20004,38.896423,-77.021240,NaN,J1772
4,4,POTOMAC EDISON BOONSBORO,public,NaN,2024-10-08,2020-11-14,0,0,2,15 N Main St,Boonsboro,MD,21713,39.507280,-77.651516,NaN,J1772

In [15]:
#Select only Station_Name, ID, and Connection Type fields
DMV_Fields = DMV_Merge_data[['ID', 'Connection_Type']]
DMV_Fields

        ID     Connection_Type
0        0               J1772
1        1               J1772
2        2               J1772
3        3               J1772
4        4               J1772
...    ...                 ...
8513  8513  CHADEMO J1772COMBO
8514  8514               J1772
8515  8515               J1772
8516  8516               J1772
8517  8517               J1772

[8518 rows x 2 columns]

In [25]:
# Group By ID and Connection_type
DMV_Fields = DMV_Merge_data[['ID', 'Connection_Type']].copy()
Connect_list = DMV_Fields.groupby('ID')['Connection_Type'].apply(', '.join).reset_index()
print(Connect_list)

        ID     Connection_Type
0        0               J1772
1        1               J1772
2        2               J1772
3        3               J1772
4        4               J1772
...    ...                 ...
8513  8513  CHADEMO J1772COMBO
8514  8514               J1772
8515  8515               J1772
8516  8516               J1772
8517  8517               J1772

[8518 rows x 2 columns]

In [35]:
# Step 1: Group by ID and create a comma-delimited string
Connect_list = DMV_Merge_data.groupby('ID')['Connection_Type'].apply(', '.join).reset_index()

# Step 2: Define the tidy_split function
def tidy_split(df, column, sep=' ', keep=False):
    indexes = []
    new_values = []
    df = df.dropna(subset=[column])
    for i, presplit in enumerate(df[column].astype(str)):
        # Split on both comma and space to handle different formats
        values = [v.strip() for v in presplit.replace(',', ' ').split()]
        if keep and len(values) > 1:
            indexes.append(i)
            new_values.append(presplit)
        for value in values:
            indexes.append(i)
            new_values.append(value)
    new_df = df.iloc[indexes, :].copy()
    new_df[column] = new_values
    return new_df

# Step 3: Use tidy_split on the Connect_list DataFrame
tidy_df = tidy_split(Connect_list, 'Connection_Type')

# Step 4: Rename columns
tidy_df.rename(columns={'ID': 'Fuel_Station_Id', 'Connection_Type': 'Connector_Type_Code'}, inplace=True)

# Display the result
print(tidy_df)

      Fuel_Station_Id Connector_Type_Code
0                   0               J1772
1                   1               J1772
2                   2               J1772
3                   3               J1772
4                   4               J1772
...               ...                 ...
8513             8513          J1772COMBO
8514             8514               J1772
8515             8515               J1772
8516             8516               J1772
8517             8517               J1772

[9195 rows x 2 columns]